@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.container {
        max-width: 750px;
        border: 4px solid grey;
        margin: auto;
        padding: 20px;
}


body {
    font-family: Oswald, sans-serif;
    font-size: 16px;
    font-weight: 200;
    font-style: normal;
    color: #0F141E;
    background: #F1F1F1;    
}

.hobby {
    background-color: lightpink;
    border-radius: 6px;
    padding-left: 2px;
    border-style: solid;
    margin-top: 15px;
    padding: 15px;
}

.job {
    background-color: lightgray;
    border-radius: 20px;
    padding: 15px 20px;
    border-style: solid;
    margin-bottom: 15px;
}

.job h2 {
    margin: auto;
}

.tab {
    margin: 15px 20px;
}

.order {
    margin: 0;
    padding: 0;
    list-style: none;
}

.order li {
    margin-bottom: 8px;
    border-bottom: 1px solid grey;
}


.list {
    background-color: lightcyan;
    border-radius: 6px;
    padding-left: 2px;
    border-style: solid;
    margin-top: 15px;
    padding: 15px;
}

.image {
    width: 33%;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.btn {
    background: grey;
    color: white;
    border: 1px solid black;
    margin: auto;
    padding: 15px 20px;
}

.btn:hover {
    opacity: .8;
}

.tab {
    width: 100%;
}

.tab tr {
    padding-bottom: 10px;
}

.tab td:hover {
    background: #eeefff;
}

.form-group label {
    display: block;
    text-decoration: solid;
    font-size: 14px;
}

.form-group input, 
.form-group textarea {
    width: 50%;
    border: none;
    box-sizing: border-box;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    font-family: inherit;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    margin-right: 20px;
    width: 50%;
}



.myself {
    display: inline-block;
    position: static;
    padding-left: 10px;
}



